[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pydantic = "*"
psycopg2-binary = "*"
alembic = "*"
fastapi = "*"
sqlalchemy = "*"
uvicorn = {extras = ["standard"], version = "*"}
adjspecies3 = "*"

[dev-packages]

[requires]
python_version = "3.11"
